body {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}
.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin: 0 25%;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

.login-btn {
    border: none;
    color: white;
    padding: 7px;
    background-color: rgb(4, 142, 4);
    margin-bottom: 10px;
}

.cancel {
    background-color: rgb(227, 224, 224);
}

.cancel a {
    position: relative;
    float: right;
    margin-top: 20px;
    font-size: 12px;
}
.cancel-btn {
    margin-top: 15px;
    background-color: rgb(255, 47, 47);
    border: none;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
}