.form-heading {
    color: rgb(19, 19, 223);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1.5px solid black;
}

th {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

#languages {
    display: flex;
    padding-right: 20px;
    border: none;
}

p {
    text-align: right;
    margin: auto;
}

hr {
    margin: auto;
}